---
import Logo from '../assets/Logo.svg';
import { Image } from 'astro:assets';
---

<nav class="fixed inset-x-0 top-0 z-50">
  <div class="max-w-[1320px] mx-auto px-6 md:px-10 pt-7 md:pt-8">
    <div class="flex items-center">
      <a href="/" class="inline-flex items-center gap-2.5">
        <Image src={Logo} alt="trueview logo" />
      </a>

      <div class="ml-auto hidden md:flex items-center gap-11 text-[15px] font-medium text-gray-300">
        <a href="/" class="text-white">Home</a>
        <a href="#" class="hover:text-white transition">About</a>
        <a href="#" class="hover:text-white transition">Search</a>
        <a href="#" class="hover:text-white transition">Brands</a>
      </div>
    </div>
  </div>
</nav>
